doctype html
html(lang='en')
  head
    title 2fa Reverse Proxy
  style(type='text/css').
  body
    div(align='center')
      h1 Secured Site Setup
      div(style='align: center;')
        button(onClick='this.disabled=true;') Active Sessions
        button(onClick='this.disabled=true;') Modify Users
        button(onClick='this.disabled=true;') Modify Routes
        button(onClick='this.disabled=true;') Modify Groups
      br
      p Presented by Two Factor Authentication Reverse Proxy
