doctype html
html(lang='en')
  head
    title 2fa Reverse Proxy
    style(type='text/html')
  body
    div(align='center' position='fixed' height='100%' style='board-style: solid')
      h1 Secured Site Setup Wizard
      br
      p(style='color: red') #{status}
      form(method='post' name='form' enctype='application/x-www-form-urlencoded')
        h3 Database Settings
        table
          tr
            td
              label(for='database') Database Name:
            td
              input(name='database' type='text' value='2farp_dev')
          tr
            td
              label(for='host') Database Host:
            td
              input(name='host' type='text' value='localhost')
          tr
            td
              label(for:'port') Database Port:
            td
              input(name='port' type='number' value='3306')
          tr
            td
              label(for='username') Database Username:
            td
              input(name='username' type='text' value='root')
          tr
            td
              label(for='pass') Database Password:
            td
              input(name='pass' type='password' value='toor')
          tr
            td
              label(for='logging') Database logging:
            td
              input(name='logging' type='radio' value='true')
              | True
              input(name='logging' type='radio' value='false' checked)
              | False
          tr
            td
              label(for='databaseDialect') Database Dialect:
            td
              select(name='dialect' type='select')
                option(name='mysql' value='mysql') MySQL
                option(name='mssql' value='mssql') MSSQL
                option(name='postgres' value='postgres') PostgreSQL
                option(name='sqlite' value='sqlite') SQLite
          tr
        h3 Application Settings
        table
          tr
            td
              label(for='apiPort') API Port:
            td
              input(name='apiPort' type='text' value='8080')
          tr
            td
              label(for='guiPort') GUI Port:
            td
              input(name='guiPort' type='text' value='8081')
          tr
            td
              label(for='adminUser') Admin Username:
            td
              input(name='adminUser' type='text' value='admin')
          tr
            td
              label(for='adminPass') Admin Password:
            td
              input(name='adminPass' type='password' value='pass')
          tr
            td
              label(for='adminToken') Admin Token:
            td
              input(name='adminToken' type='number' value='')
          tr
            td Admin Secret:
            td
              img(src=token)
        br
        input(type='submit' value='Save' formaction='/database/saveSettings')
        | &emsp;
        input(type='submit' value='Restart' formaction='/application/restart')
      br
      p Presented by Two Factor Authentication Reverse Proxy


