doctype html
html(lang='en')
  head
    title 2fa Reverse Proxy
    style(type='text/html')
  body
    div(align='center' position='fixed' height='100%' style='board-style: solid')
      h1 Secured Site Login
      pre(style='color: red') #{status}
      form(action='login' method='post' name='form' enctype='application/x-www-form-urlencoded')
        table
          tr
            td Username:
            td
              input(type='text' name='username')
          tr
            td Password:
            td
              input(type='password' name='password')
        br
        input(type='submit' value='Submit')
      br
      p Presented by Two Factor Authentication Reverse Proxy