doctype html
html(lang='en')
  head
    title 2fa Reverse Proxy
  style(type='text/css').
    .parent{
      margin: auto;
      max-width: 100%;
    }
    .child{
      text-align: justify;
      max-width: 50%;
    }
  body
    div(align='center')
      br
      h1 Secured Site
      br
      div.parent
        div.child
          p You have successfully logged in and your session has been created however you
            accessed the login page directly. As a result, no route was defined and you have reached this page. Please access a valid resource.
      br
      p Presented by Two Factor Authentication Reverse Proxy
